extends layout.pug

block content
    if message 
        p #{message}
    form(action="/login", method="post")
        input(name="username")
        input(name="password", type="password")
        button(type="submit") Login